In [ ]:
# Titanic notebook by Kelvin
# Created Sept 8 2021

import numpy as np
import pandas as pd